#centerDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 90vh;
}

#survey-form {
  margin: auto;
  padding: 1.2rem 1.4rem;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: flex-start;
  width: 900px;
  height: 100%;
}

#password {
  display: inline-flex;
}

#password1 {
  width: 450px;
}

span {
  width: 50px;
}

#h1 {
  margin: 0 auto;
  text-align: center;
}
