.title_text {
  background-color: #fefefe;
  text-align: center;
  margin: 1.2rem auto;
}

/* .post_container {
  padding: 1rem 2rem;
} */

.post_user {
  border-bottom: 2px solid rgb(202, 202, 202);
}

.post_user > div {
  padding: 1rem 2rem;
}

.user_image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid#CCCCCC;
}

.user_name {
  display: inline;
}

.post_name {
  border-bottom: 2px solid rgb(202, 202, 202);
}

.post_name > div {
  padding: 1rem 2rem;
}

.post_content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.post_content > div {
  padding: 1rem 2rem;
}

/* .post_comment_content {
  padding-top: 1rem;
  padding-bottom: 1rem;
} */

.post_comment_content > div {
  padding: 1rem 2rem;
}

.post_date {
  border-top: 2px solid rgb(202, 202, 202);
}

.post_date > div {
  padding: 1rem 2rem;
}

.create_post_button {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.create_post_button > button {
  background-color: #dd7973;
  color: white;
}

.create_post_button > button:hover {
  background-color: #cb625d;
}

.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.right {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}

button {
  margin: 1px;
}

.left_icon {
  margin-right: 1px;
}

.right_icon {
  margin-left: 1px;
}

.comment_window {
  width: 100%;
}

.comment_textfield {
  width: 100%;
}

.add_comment_button {
  margin: 0.5rem 0.5rem;
  outline: none !important;
}
