.resume_update {
  margin: 10px;
}

.text_muted_company {
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: 480px;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 50%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.list_item {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.list_item > div:nth-child(1) {
  width: 40%;
}

.list_item > div:nth-child(1) > p {
  font-weight: bold;
}

.list_item > div:nth-child(2) {
  width: 60%;
}

@media screen and (max-width: 867px) {
  .row {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .col {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 512px) {
  .list_item {
    flex-direction: column;
  }
}

.button {
  outline: none !important;
}

.connection_button {
  margin-left: 1rem !important;
}

.bio_text {
  max-height: max-content;
  overflow-y: auto;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  padding: 0.6rem 1rem;
  text-align: justify;
  margin: 1rem !important;
}

.details_card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
