.title_text {
  background-color: #fefefe;
  text-align: center;
  margin: 1.2rem auto;
}

/* .post_container {
  padding: 1rem 2rem;
} */

.post_name {
  border-bottom: 2px solid rgb(202, 202, 202);
}

.post_name > div {
  padding: 1rem 2rem;
}

.post_content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.post_content > div {
  padding: 1rem 2rem;
}

.post_date {
  border-top: 2px solid rgb(202, 202, 202);
}

.post_date > div {
  padding: 1rem 2rem;
}
