.title_text {
  background-color: #fefefe;
  text-align: center;
  margin: 1.2rem auto;
}

/* .post_container {
  padding: 1rem 2rem;
} */

.post_name {
  border-bottom: 2px solid rgb(202, 202, 202);
}

.post_name > div {
  padding: 1rem 2rem;
}

.post_content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.post_content > div {
  padding: 1rem 2rem;
}

.post_date {
  border-top: 2px solid rgb(202, 202, 202);
}

.post_date > div {
  padding: 1rem 2rem;
}

.create_post_button {
  position: fixed;
  right: 20px;
  bottom: 15px;
}

.create_post_button > button {
  background-color: #dd7973;
  color: white;
}

.create_post_button > button:hover {
  background-color: #cb625d;
}

.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.right {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}

button {
  margin: 1px;
}

.left_icon {
  margin-right: 1px;
}

.right_icon {
  margin-left: 1px;
}

.user_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user_container > img {
  margin-right: 1rem;
}

.user_image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid#CCCCCC;
}

.user_name {
  display: inline;
  margin-left: 1.2rem;
}

.link,
.link:hover,
.link:active {
  text-decoration: none;
  color: inherit;
}
